.hero {
  padding-top: 20px !important;
}

.hero_content h5 {
  color: navy;
  font-weight: 400;
}

.hero_skills {
  display: flex;
  align-items: center;
  column-gap: 2rem;
  text-align: left;
  width: 130px;
  margin-top: 10px;
  padding: 10px 20px;
  border-radius: 5px;
  z-index: 10;
}

.tech_logo {
  background-color: transparent;
  padding: 10px;
  margin-bottom: 20px;
  margin-top: 50px;
  transition: 0.3s;
}

.tech_logo:hover {
  cursor: pointer;
  transform: translateY(-10px);
}

.hero_skills h6 {
  background: transparent;
  color: navy;
}
.hero_skills span i {
  background: transparent;
  color: navy;
}
.hero_skills span {
  background: transparent;
}

@media only screen and (max-width: 992px) {
  .hero_content h2 {
    font-size: 1.4rem !important;
  }
  .hero_content h5 {
    font-size: 1.1rem !important;
  }

  .hero_skills {
    padding: 10px;
    width: 150px;
  }

  .hero_skills h6,
  .hero_skills span i {
    font-size: 0.7rem !important;
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 480px) {
}
